$arrowIcon: #7D7F83;
$accordionHeadline:#B2B9C2;
$accordionBackground: #141D28;
$accordionBorder: #0d0d0e;
$routeBig: #ACB3BA;
$routeSmall: #586068;
$rampA: #3EDBD2;
$rampB: #45DAD2;
$rampC: #A7E5E0;
$background: #0d0d0e;



.content  {
	height: 1000px;
}

.spaceBetweenContainer {
	display: flex;
	justify-content: space-between;
}
